.btn-contact {
    background-color: lightseagreen;
    padding: 10px;
    border-radius:  10px;
}

.card {
    padding: 20px;
}

.card-row {
    margin: 30px;
    float: left;
}

.col-sm-3,
.col-lg-6  {
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.contact-form {
    width: 80%;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: snow;
    text-align: center;
}

.container-home,
.container-contact,
.container-about {
    padding: 20px;
    max-width: 100%;
    background-color: snow;
    align-content: center;
}

.display-4 {
    border-bottom: 5px solid black;
    text-align: center;
    padding: 20px;
}

img {
    width: 250px;
}

.txtb-contact {
    padding: 20px;
    border-bottom: 1px solid black;
    margin: 5px;
}

.txtb-contact label {
    display: block;
    text-align: left;
    text-transform: uppercase;
}

.txtb-contact input, .txtb-contact textarea {
    width: 100%;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    background-color: darkred;
}